ase
colorama
matplotlib
networkx
numpy
pretty-errors
pybind11
pybind11-global
rich
scipy
scikit-build
spglib
typer
typing_extensions
sphinxcontrib-napoleon
sphinx_rtd_theme
sphinx-markdown-tables
recommonmark
pymatgen
